:root {
  --color1: #594545;
  --color2: #815b5b;
  --color3: #9e7676;
  --color4: #fff8ea;
  --font1: "Ibarra Real Nova", serif;
}

body {
  background: rgb(255, 248, 234);
  background: linear-gradient(
    0deg,
    rgba(255, 248, 234, 1) 0%,
    rgba(89, 69, 69, 1) 100%
  );
}

header {
  display: grid;
  place-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: var(--color3);
}

.titulo-principal {
  font-family: var(--font1);
  display: inline-block;
  color: var(--color4);
  font-size: 32px;
}

.titulo{
  font-family: var(--font1);
  font-size: 30px;
  font-style: italic;
  color: var(--color3);
}

.img-home{
  width: 320px;
  height: 400px;
  border-radius: 12px;
}

.img-logo {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.menu{
  color: var(--color4);
  font-size: 20px;
  font-family: var(--font1);
  font-weight: 800;
}

.user{
  position: relative;
  left: 600px;
  color: var(--color4);
}
    
.credits {
  display: grid;
  place-items: center; 
  width: 100%;
  min-height: 250px;
}

.social-network-icons {
  margin-bottom: 10px;
  margin-top: auto;
}

.img-footer {
  height: 60px;
  width: 60px;
  transition: fill 0.3s, stroke 0.3s, transform 0.3s ease;
}

.credits .link-networks {
  margin-right: 15px;
}

.copyright {
  font-size: 18px;
  color: #000000;
}

.img-footer:hover {
  transform: scale(1.3); 
  transition: transform 0.3s ease-in-out, fill 0.3s ease-in-out;
}
